ServerSignature Off
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteRule ^([a-zA-Z0-9-/]+).php/$ prob-page-dtls_post.php [QSA,L]
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^/$ /index.php [L]
RewriteRule ^home$ /home.php [L]
RewriteRule ^api/login$ /APP/@momo/login.php  [L]
RewriteRule ^adm/momo/add$ /ADMIN/@momo.php [L]
RewriteRule ^adm/service/website$ /ADMIN/website.php [L]
RewriteRule ^adm/service/msg$ /ADMIN/msg.php [L]
RewriteRule ^adm/mini-game/chan-le$ /ADMIN/chan-le.php [L]
RewriteRule ^adm/mini-game/tai-xiu$ /ADMIN/tai-xiu.php [L]
RewriteRule ^adm/mini-game/chan-le2$ /ADMIN/chan-le2.php [L]
RewriteRule ^adm/mini-game/tai-xiu2$ /ADMIN/tai-xiu2.php [L]
RewriteRule ^adm/mini-game/1-phan-3$ /ADMIN/1-phan-3.php [L]
RewriteRule ^adm/mini-game/H3$ /ADMIN/H3.php [L]
RewriteRule ^adm/mini-game/doan-so$ /ADMIN/doan-so.php [L]
RewriteRule ^adm/mini-game/xien$ /ADMIN/xien.php [L]
RewriteRule ^adm/mini-game/lo$ /ADMIN/lo.php [L]
RewriteRule ^adm/mini-game/g3$ /ADMIN/g3.php [L]
RewriteRule ^adm/mini-game/diem-danh$ /ADMIN/diem-danh.php [L]
RewriteRule ^adm/mini-game/nhiem-vu-ngay$ /ADMIN/nhiem-vu-ngay.php [L]
RewriteRule ^adm/mini-game/tong-3-so$ /ADMIN/tong-3-so.php [L]
RewriteRule ^adm/mini-game/top-tuan$ /ADMIN/top-tuan.php [L]
RewriteRule ^adm/service/giftcode$ /ADMIN/giftcode.php [L]
RewriteRule ^adm/momo/list$ /ADMIN/list-momo.php [L]
RewriteRule ^adm/service/theme$ /ADMIN/theme.php [L]
RewriteRule ^adm/setting/action$ /APP/backend.php [L]
RewriteRule ^adm/mini-game/update$ /APP/backend.php [L]
RewriteRule ^service$ /ADMIN/index.php [L]
RewriteRule ^adm/login/action$ /APP/backend.php [L]
RewriteRule ^adm/login$ /ADMIN/login.php [L]
RewriteRule ^adm/dang-xuat$ /APP/out_log.php [L]
RewriteRule ^adm/momo/history-transaction$ /ADMIN/history-transaction.php [L]
RewriteRule ^adm/momo/send-money$ /ADMIN/send-money.php [L]
RewriteRule ^adm/momo/send-bank$ /ADMIN/send-bank.php [L]

RewriteRule ^api/giaodien/check$ /APP/check.php [L]
RewriteRule ^adm/service/history$ /ADMIN/history.php [L]
RewriteRule ^adm/service/check-bill$ /ADMIN/check-bill.php [L]
RewriteRule ^adm/service/payment$ /ADMIN/payment.php [L]
RewriteRule ^adm/service/doi-mat-khau$ /ADMIN/doi-mat-khau.php [L]
RewriteRule ^api/e/chuyentien$ /APP/@momo/send.php [L]
RewriteRule ^api/e/chuyentien-bank$ /APP/@momo/send-bank.php [L]

RewriteRule ^adm/service/sdt-game$ /ADMIN/sdt-game.php [L]
RewriteRule ^adm/service/bill-error$ /ADMIN/bill-error.php [L]
RewriteRule ^adm/home$ /ADMIN/index.php [L]
RewriteRule ^api/giaodien/GetMomo /APP/GetMoMo.php [L]
RewriteRule ^api/giaodien/GetLsgd_10s /APP/GetLsgd_10s.php [L]
RewriteRule ^api/giaodien/Get_diemdanh /APP/Get_diemdanh.php [L]

RewriteRule ^adm/service/cron$ /ADMIN/cron.php [L]
RewriteRule ^adm/bill-loi$ /APP/@momo/error_.php [L]

RewriteRule ^api/giftcode$ /APP/@momo/giftcode.php [L]

RewriteRule ^api/nhiemvungay$ /APP/@momo/nvn.php [L]
RewriteRule ^api/diemdanh$ /APP/@momo/diemdanh.php [L]

RewriteRule ^tt$ /APP/@momo/api.php [L]
RewriteRule ^login$ /APP/@momo/load-token.php [L]
RewriteRule ^diem-danh$ /APP/@momo/cron_diemdanh.php [L]
RewriteRule ^xoa-gd$ /APP/@momo/xoa_gd.php [L]
RewriteRule ^bill-loi$ /APP/@momo/cron_bill_loi.php [L]
RewriteRule ^reset-cron$ /APP/@momo/reset_cron.php [L]
RewriteRule ^cron-fake$ /APP/@momo/cron_fake.php [L]

RewriteRule (^|/)error_log$ - [L,R=404]
RewriteRule (^|/)log.txt$ - [L,R=404]

<files .htaccess>
order allow,deny
deny from all
</files>

<files .env>
    order allow,deny
    deny from all
</files>

Options All -Indexes